.Menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.MenuItem {
    display: flex;
    align-items: center;
    gap: 16px;

    background: transparent;
    border: none;

    color: white;
    font-size: 18px;

    padding: 16px;

    cursor: pointer;
    border-radius: 12px;

    transition: 0.2s;
}

.MenuItem:hover {
    background-color: rgba(255,255,255,0.08);
}

.MenuItem img {
    width: 28px;
    height: 28px;
}


.MenuItem.active {
    background-color: rgba(255,255,255,0.08);
    position: relative;
}

.MenuItem.active::before {
    content: "";

    position: absolute;
    left: -12px;
    top: 0;

    width: 4px;
    height: 100%;

    border-radius: 4px;

    background: linear-gradient(
        to bottom,
        #f58529,
        #dd2a7b
    );
}